main {
    font-family: "LXGW WenKai Mono TC", monospace;
    display: flex;
    height: 100vh;
}

footer {
    background-color: #CFAB8D;
    height: 100px;
    margin: 0;
    align-items: end;
}

.post {
    background-color: burlywood;
    width: 400px;
    height: 400px;
}

.post img {
    display: grid;
    place-items: center;
    align-items: center;
}

nav > div {
    display: flex;
}

.navbar-collapse {
    justify-content: end;
}