header {
    background-color: #BBDCE5;
    display: flex;
    justify-content: space-around;
}

main {
    background-color: #ECEEDF;
    font-family: "LXGW WenKai Mono TC", monospace;
}

footer {
    background-color: #CFAB8D;
}